﻿@model POS.ViewModel.OrderDetail
<tr>
    <td>
        @Html.HiddenFor(model => model.ProductId)
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </td>
    <td>
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </td>
    <td>
        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @onchange = "Calculate(this)", @onkeyup = "Calculate(this)" } })
    </td>
    <td>
        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </td>
    <td>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="RemoveItem(this)" title="Select">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
    </td>
</tr>