﻿@{
    ViewBag.Title = "Order";
}

<h2>@ViewBag.Title</h2>
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <input type="button" id="btn-new-order" value="New Order" class="btn btn-success"/>
        <input type="button" id="btn-payment" value="Payment" class="btn btn-primary" />
        <input type="button" id="btn-new-trans" value="New Trans." class="btn btn-danger" />
    </div>
    <div class="panel panel-body">
        <table class="table table-bordered" id="order-table">
            <thead>
                <tr>
                    <th style="width: 40%">Product Name</th>
                    <th style="width: 20%">Price</th>
                    <th style="width: 20%">Quantity</th>
                    <th style="width: 30%">Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @*Order list nanti ada disini*@
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        Total
                    </th>
                    <th>
                        <input type="number" value="0" name="tot-qty" class="form-control" />
                    </th>
                    <th>
                        <input type="number" value="0" name="tot-amount" class="form-control"/>
                    </th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script type="text/javascript">
        $("#btn-new-order").click(function () {
            $.ajax({
                url: '@Url.Action("ProductList", "Product")',
                type: 'get',
                success: function (result) {
                    $(".modal-body").html(result);
                    $(".modal-title").html('Select product');
                    $(".modal").modal('show');
                }
            })
        })

        function RemoveItem(obj) {
            var tr = $(obj).closest('tr');
            tr.remove();
        }

        function Calculate(obj) {
            var tr = $(obj).closest('tr');

            var prc = tr.find("input[name=Price]").val();
            var qty = tr.find("input[name=Quantity]").val();

            var amount = prc * qty;

            tr.find("input[name=Amount]").val(amount);
        }
    </script>
}